button.call-to-action{
  /* Button */
  width: 184px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px var(--blush);
  /* Text */
  font-family: MontSerratBold;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--blush);
}
button.call-to-action:hover{
  color: white;
  background-color: var(--blush);
}