.banner .col{
  padding: 0;
  position: relative;
  text-align: center;
}
.banner .title{
  width: 545px;
  height: 106px;
  font-family: MontserratBold;
  font-size: 44px;
  text-align: left;
  color: var(--white);
  position: absolute;
  top: 30%;
  left: 10%;
}
.banner .subtitle{
  width: 504px;
  height: 67px;
  font-family: MontserratRegular;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: var(--very-light-pink);
  position: absolute;
  top: 50%;
  left: 10%;
}
button.CTA-banner {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 157px;
  height: 40px;
  background-color: #e2e2e2;
  border-radius: 4px;
  border: solid 1px var(--black);
  color: black;
  font-size: 14px;
}
button.CTA-banner:hover {
  color: var(--blush);
  background-color: var(--white);
}
  