@import "../../assets/stylesheets/variables.scss";

.banner {
  .col {
    padding: 0;
    position: relative;
    text-align: center;
  }

  .title {
    width: 545px;
    height: 106px;
    font-family: MontserratBold;
    font-size: 44px;
    text-align: left;
    color: $white;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .subtitle {
    width: 504px;
    height: 67px;
    font-family: MontserratRegular;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: $very-light-pink;
    position: absolute;
    top: 50%;
    left: 10%;
  }
}