img.ilustration{
  width: 631px;
  height: 355px;
}
/* SOLUTIONS SECTION */
.solutions {
  background-color: var(--almost-white);
}
.solutions-title {
  display: inline-block;
  width: 86px;
  height: 15px;
  font-family: MontserratBold;
  font-size: 12px;
  color: var(--dusty-orange);
}
.solutions-subtitle {
  display: inline-block;
  width: 632px;
  height: 106px;
  font-family: MontserratBold;
  font-size: 44px;
  color: var(--black);
}
/* PLATFORM SECTION */
.rectangle {
  width: 1107px;
  height: 2160px;
  background: linear-gradient(to bottom, var(--dusty-orange) 0%, var(--dusty-orange) 46%, var(--almost-grey) 46%, var(--almost-grey) 100%);
  backdrop-filter: blur(30px);
  background-color: var(--dusty-orange);
  text-align: center;
  margin-bottom: 117px;
  margin-top: -2%;
}
.platform-title {
  display: inline-block;
  width: 184px;
  height: 15px;
  font-family: MontserratBold;
  font-size: 12px;
  color: var(--white);
}
.platform-subtitle {
  display: inline-block;
  width: 640px;
  height: 106px;
  font-family: MontserratBold;
  font-size: 44px;
  color: var(--black);
}
.ilustracao-interface {
  text-align: center;
}
button.CTAInterface {
  border: solid 1px var(--black);
  background-color: var(--almost-grey);
  color: black;
  margin-top: 7%;
}
button.CTAInterface:hover {
  color: var(--blush);
  background-color: var(--white);
}
.platform-features {
  margin-top: 5%;
  width: 853px;
  height: 361px;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: var(--almost-white);
}
.layerviewImg, .reportviewImg {
  margin-top: 18%;
  margin-bottom: 10%;
}
.layerview-title, .reportview-title {
  width: 100%;
  font-family: MontserratBold;
  font-size: 14px;
  color: var(--brownish-grey);
  margin-bottom: 40px;
  left: 50%;
  top: 50%;
}
.layerview-text, .reportview-text {
  width: 70%;
  margin-left: 15%;
  font-family: MontserratRegular;
  font-size: 16px;
  text-align: center;
  color: var(--greyish-brown);
}
.feature-divider {
  border-left: 1px solid var(--greyish-brown);
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}
/* PANDEMIC SECTION */
.pandemic-title {
  font-family: MontserratBold;
  font-size: 12px;
  color: var(--dusty-orange);
}
.pandemic-subtitle {
  font-family: MontserratBold;
  font-size: 44px;
  color: var(--black);
}
.pandemic-description {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 3%;
  font-family: MontserratRegular;
  font-size: 16px;
  color: var(--greyish-brown);
}
button.CTAPandemic {
  width: 281px;
  height: 40px;
  margin-top: 3%;
  border: solid 1px var(--black);
  background-color: var(--almost-grey);
  color: black; 
}
button.CTAPandemic:hover {
  color: var(--blush);
  background-color: var(--white);
}

