.form-container {
  width: 367px;
  border-radius: 2px;
  border: solid 1px var(--almost-grey);
  background-color: var(--almost-grey);
  margin-top: 20%;
  padding: 3% 5% 2% 5%;
}
.form-container .form-group {
  text-align: left;
}
.form-container .form-group input{
  font-family: MontserratRegular;
  font-size: 14px;
  line-height: 1.29;
  color: var(--brown-grey);
}
.form-container .form-group .invalid-feedback{
  font-family: MontserratRegular;
  font-size: 14px;
  line-height: 1.29;
}
.form-container .form-label {
  font-family: MontserratSemiBold;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: var(--brownish-grey);
}
.form-container .form-check-label {
  font-family: MontserratSemibold;
  font-size: 10px;
  line-height: 1.3;
  color: var(--brownish-grey);
}
button.CTAFormSubmit {
  width: 149px;
  height: 40px;
  background-color: #f7bcb9;
  border-radius: 4px;
  color: black;
  font-size: 14px;
}
button.CTAFormSubmit:hover {
  color: var(--blush);
  background-color: var(--white);
}