.contact {
  height: 815px;
  background-color: var(--almost-white);
}
.contact .container {
  text-align: center;
}
.contact .description {
  height: 233px;
  font-family: MontserratSemiBold;
  font-size: 32px;
  line-height: 1.25;
  color: var(--black);
  padding-top: 10%;
}
.contact .email-sent-container {
  height: 815px;
  background-color: var(--dusty-orange);
  text-align: center;
}
.contact .email-sent-container img.all-ok{
  margin-top: 20%;
  background-color: var(--dusty-orange);
}
.contact .email-sent-container .confirmation-title{
  margin-top: 2%;
  font-family: MontserratSemiBold;
  font-size: 32px;
  line-height: 1.25;
  color: var(--white);
}
.contact .email-sent-container .confirmation-description{
  width: 30%;
  margin-top: 2%;
  font-family: MontserratRegular;
  font-size: 16px;
  line-height: 1.13;
  color: var(--white);
  margin-left: 35%;
}
.contact .email-sent-container .go-back {
  margin-top: 5%;
  width: 20%;
  margin-left: 40%;
  display: flex;
  justify-content: space-around;
}
.contact .email-sent-container .go-back .text{
  font-family: MontserratBold;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 2.8px;
  color: var(--white);
}