.footer {
  width: 100%;
  height: 460px;
  background-color: #edeef0;
  position: relative;
}
.footer .logo {
  margin-top: 60px;
  margin-left: 140px;
  display: flex;
  justify-content: left;
}
.footer .links .row {
  width: 100%;
  margin-left: 140px;
  margin-top: 60px;
  height: 285px;
}
.footer .title {
  font-family: MontserratBold;
  font-size: 18px;
  color: var(--black);
}
.footer .text-link {
  font-family: MontserratRegular;
  font-size: 18px;
  margin-top: 10px;
  color: var(--greyish-brown);
}
.footer .feature-divider {
  border: 1px solid var(--greyish-brown);
  width: 80%;
  left: 10%;
  margin-left: -3px;
  height: 1px;
  position: absolute;
  margin-top: 20%;
}
.footer .bottom-col {
  display: flex;
  justify-content: space-around;
}
.footer .bottom-row {
  width: 90%;
  margin-left: 5%;
}
.footer .link-row {
  height: 65%;
}

