.header {
  height: 152px;
}
.header .row {
  height: 100%;
}
.header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white);
}
.header .cta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white);
}
.header .main-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white);
}
.header .nav {
  justify-content: space-evenly;
  width: 100%;
}

.header .nav a{
  font-family: MontserratRegular;
  font-size: 14px;
  text-align: center;
  color: var(--black);
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}
.header button.CTA {
  border: solid 1px var(--blush);
  background-color: var(--blush);
  color: white;
  
}
.header button.CTA:hover {
  color: var(--blush);
  background-color: white;
}

