@import "../../assets/stylesheets/variables.scss";

.root-desktop {
  .header {
    height: 152px;

    .row {
      height: 100%;
    }

    .logo,
    .cta,
    .main-menu {
      display: flex;
      justify-content: left;
      align-items: center;
      background-color: #ffffff;
    }

    .nav {
      justify-content: space-between;
      width: 100%;

      .link {
        font-family: MontserratRegular;
        font-size: 14px;
        text-align: center;
        color: $black;
        display: table-cell;
        vertical-align: middle;
        height: 40px;
      }

      .link:hover {
        color: #F3783C;
      }
    }

    button.CTA {
      border: solid 1px #F8B492;
      background-color: #F8B492;
      color: $black;

      &:hover {
        color: $black;
        background-color: #F59667;
      }
    }
  }
}

.root-mobile {
  .header {
    height: 56px;
    width: 360px;
    .container {
      padding: 0px;
    }
    .bm-burger-button {
      position: absolute;
      width: 36px;
      height: 20px;
      left: 300px;
      top: 20px;
    }
    .bm-burger-bars {
      height: 10% !important; 
      background: $dusty-orange;
    }
    .bm-burger-bars-hover {
      background: $dusty-orange;
    }
    .bm-cross-button {
      height: 24px;
      width: 24px;
      right: 40px !important;
      top: 15px !important;
    }
    .bm-cross {
      background: $dusty-orange;
    }
    .bm-menu {
      background: $almost-white;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }
    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
    }
    .bm-item {
      display: inline-block;
      width: 286px;
      height: 40px;
      border-radius: 2px;
      border: solid 1px $very-light-pink;
      padding-left: 15px;
      padding-top: 3px;
      background-color: $almost-white;
      color: #383838;
      font-family: MontserratSemiBold;
      font-size: 14px;
      line-height: 2.57;
      margin-top: 16px;
    }
    .bm-item.orange {
      color: $white;
      background-color: $dusty-orange;
    }
    .bm-item.logo {
      display: block;
      border: none;
      position: absolute;
      margin-top: -50px;
      padding: 0;
      width: 100px;
    }

  }
}