@import "assets/stylesheets/variables.scss";

html {
  scroll-behavior: smooth;
  height: 100%;

  .root-desktop {
    width: 1392px;
    margin: 0 auto;
    
    body {
      background-color: $white;
    }
  
    #root{
      min-height: 100%;
      position: relative;
    }
  }
  .root-mobile {
    width: 360px;
    margin: 0px;
    background-color: $almost-white;
    body {
      background-color: $almost-white;
    }
    .container {
      padding: 0px;
    }
  
    #root{
      min-height: 100%;
      position: relative;
    }
  }
}

footer{
  height: 460px; 
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; 
}



